
.container{
    display: flex;
    height: 200vh;
    list-style: none;
    text-decoration: none;
    text-align: center;
    justify-items: center;
    margin: 0;
    padding: 15vh;
    left: 0%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: var(--maincolor)
}
.sidebar{
    background: white;
    top: 0;
    left: 0;
    width: 270px;
    height: 100%;
    border-radius: 0.6rem;

}
.main{
border-radius: 0.6rem;
margin-bottom: 2rem;

}

a{
    display: block;
    padding: 15px 30px;
    text-decoration: none;
    color:var(--maincolor);
    position: relative;

}
a:link { text-decoration: none;
color: var(--maincolor); }


a:visited { text-decoration: none;
    background-color: var(--navbarcolour); 
 }


a:hover {
     
    text-decoration: none;
    color: var(--maincolor);
    border-radius: 0.6rem;
    background-color: var(--navbarcolour); 
 }
 
.active { 
    text-decoration: none;
    background-color: var(--navbarcolour); 
    border-radius: 0.6rem;
}
.list{
    list-style-type: none;
}

.item{
    font-family: "Permanent Marker", cursive;
    padding: 1rem;
    color: var(--maincolor);

}

.title{
    font-size: 2rem;
    text-align: center;
    color: var(--maincolor);
    font-family: "Permanent Marker", cursive;
 
}
span{
font-weight: border;
padding: 1rem 1rem;

}

